.valleForm {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
}

.valleForm__switch {
  margin-left: auto;
}

.valleForm__sub {
  margin-top: 32px;
  margin-right: auto;
  font-size: 12px;
  color: rgb(80, 177, 186);
}

.valleForm__speedDial {
  margin-top: 16px;
  margin-left: auto;
  font-size: 14px;
}

.valleForm__speedDial__actions {
  text-align: right;
}

.valleForm__speedDial__save {
  --valle-speed-dial-action-fab-color: #7bcc02;
}

.valleForm__speedDial__edit {
  --valle-speed-dial-action-fab-color: #ff6a00;
}

.valleForm__speedDial__delete {
  --valle-speed-dial-action-fab-color: #ff0043;
}

.valleForm__speedDial__cancel {
  --valle-speed-dial-action-fab-color: #4c4c48;
}

.valleForm__row {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .valleForm__row {
    flex-wrap: wrap;
    height: auto;
  }
}

.valleForm__input {
  width: calc(100% - 10px);
  min-width: 0;
  margin: 0 5px;
  padding: 0;
  border-width: 0;
}

.valleForm__input--small {
  max-width: 300px;
}

.valleForm__select {
  width: calc(100% - 10px);
  margin: 0 5px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  .valleForm-select {
    max-width: 100%;
  }
}

.valleForm__select--big {
  display: block;
  min-width: 100%;
  max-width: 100%;
}
