.valleForm {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  margin-top: 16px;
}

/* ------- Header ------- */

.valleForm__switch {
  margin-left: auto;
}

/* ------- Tabs ------- */

.valleForm__tabs__titles {
  width: 100%;
  border-bottom: 2px solid rgba(0,0,0,.12);
  margin: 8px 4px 0 4px;
  display: flex;
  overflow-x: auto;
}

.valleForm__tabs__title {
  color: rgba(70, 70, 70, 0.54);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid rgba(0,0,0,.12);
  border-bottom-width: 2px;
  background-color: #efefef;
  margin: 0 6px -2px 0;
  position: relative;
  white-space: nowrap;
  height: 38px; /* To avoid flick with badge appears */
}

.valleForm__tabs__title:hover {
  cursor: pointer;
  color: var(--highlight-color, rgb(5, 159, 183)); 
}

.valleForm__tabs__title:focus {
  outline: none;
}

.valleForm__tabs__title--selected {
  background-color: #fff;
  color: var(--highlight-color, rgb(5, 159, 183));
  border-bottom-color: #fff;
}

.valleForm__tabs__title--selected:hover {
  cursor: default;
}

/* .valleForm__tabs__badge {
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: rgba(255, 56, 56, 0.787);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #fff;
} */

.valleForm__tabs__tab {
  display: block;
  width: 100%;
  display: none;
}

.valleForm__tabs__tab--visible {
  display: block;
}

.valleForm__tabs__badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(252 107 130);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin-left: 8px;
}

.valleForm__tabs__title--selected .valleForm__tabs__badge {
  background-color: rgb(255 80 87);
}

/* ------- Groups ------- */

.valleForm__group {
  border: 1px solid rgb(166 166 166);
  position: relative;
  padding: 8px 8px 16px 8px;
  margin-top: 32px;
  box-sizing: border-box;
  width: 100%;
  display: block;
}

.valleForm__group__title {
  /* border-bottom: 1px solid var(--highlight-color, rgb(5, 159, 183)); */
  background-color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(129 137 138);
  margin: 0;
  padding: 0 8px;
  position: absolute;
  top: -14px;
  left: 8px;
}

/* ------- Main ------- */

.valleForm__row {
  display: flex;
  width: 100%;
  min-height: 87px; /* For fix issue #15 in desktop devices */
}

@media screen and (max-width: 600px) {
  .valleForm__row {
    flex-wrap: wrap;
    height: auto;
  }
}

.valleForm__input__container {
  width: calc(100% - 10px);
  min-width: 0;
  margin: 0 5px;
  position: relative;
}

/* ------- Input ------- */

.valleForm__input {
  width: 100%;
  margin: 0;
  padding: 0;
  border-width: 0;
  --icon-tooltip-color: rgba(26, 26, 26, 0.38);
}

.valleForm__input--small {
  max-width: 300px;
}

.valleForm__input--description {
  min-width: calc(50% - 10px);
}

.valleForm__input__button {
  border: 0;
  background: #fff;
  position: absolute;
  right: 2px;
  top: 52px;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  transition: background .3s;
}

.valleForm__input__button:hover {
  cursor: pointer;
}

.valleForm__input__button--disabled:hover {
  cursor: no-drop;
}

.valleForm__input__button:focus {
  background: #ecebeb;
  outline: none;
}

.valleForm__input__button:active {
  background: #c8c8c8;
}

.valleForm__input__button--disabled:active{
  background: #fff;
}

.valleForm__input__icon {
  width: 14px;
  fill: rgba(0, 0, 0, .38);
}

.valleForm__input__button:hover .valleForm__input__icon {
  fill: var(--highlight-color, rgba(5, 159, 183, .87));
}

.valleForm__input__button--disabled:hover .valleForm__input__icon {
  fill: rgba(0, 0, 0, .38);
}

/* ------- Modal ------- */

.valleForm__modal__backdrop {
  background-color: rgba(0,0,0,.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.valleForm__modal__card {
  width: 100%;
  max-width: 900px;
  max-height: 90%;
}

@media screen and (max-width: 600px)  {
  .valleForm__modal__card {
    overflow-y: scroll;
  }
}

.valleForm__modal__head {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
}

.valleForm__modal__button {
  margin-left: auto;
  border: 0;
  background: transparent;
  padding: 0;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.valleForm__modal__button:hover {
  cursor: pointer;
}

.valleForm__modal__button:focus {
  outline-color: var(--highlight-color);
  outline-offset: 5px;
  outline-width: thin;
}

.valleForm__modal__icon {
  width: 14px;
  height: 14px;
  fill: rgba(0, 0, 0, .54);
}

.valleForm__modal__button:hover .valleForm__modal__icon {
  fill: var(--highlight-color);
}

.valleForm__modal__body {
  overflow-y: auto;
  max-height: 600px;
}

.valleForm__modal__heading {
  flex: 1;
  color: var(--highlight-color);
  margin: 0;
  font-weight: 300;
  font-size: 22px;
  color: var(--highlight-color);
  margin: 0 0 16px 0;
  font-weight: 300;
  font-size: 24px;
}

/* ------- Select ------- */

.valleForm__select {
  width: calc(100% - 10px);
  margin: 0 5px;
  max-width: 400px;
  --icon-tooltip-color: rgba(0, 0, 0, .38);
}

@media screen and (max-width: 600px) {
  .valleForm-select {
    max-width: 100%;
  }
}

.valleForm__select--big {
  display: block;
  min-width: 100%;
  max-width: 100%;
}

/* ------- Textarea ------- */

.valleForm__textarea {
  display: inline-block;
  position: relative;
  /* overflow: hidden; */
  width: calc(100% - 10px);
  min-width: 0;
  margin: 0 5px;
  padding: 0;
  --icon-tooltip-color: rgba(0, 0, 0, .38);
}

.valleForm__textarea__input {
  border: 0;
  box-sizing: border-box;
  border: 2px solid var(--valle-input-border-color, rgb(166, 166, 166));
  color: rgba(0, 0, 0, .87);
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 16px;
  outline: 0;
  padding: 0;
  padding-top: 8px;
  width: 100%;
  height: 110px;
  resize: vertical;
  border-radius: 4px;
  transition: border-color .1s linear;
  margin-top: 29px;
  padding: 16px 12px 16px 16px;
}

.valleForm__textarea__input:hover {
  border-color: #000;
}

.valleForm__textarea__input:focus {
  border-color: var(--valle-input-color, rgb(5, 159, 183));
}

.valleForm__textarea__label {
  color: rgba(0, 0, 0, .54);
  display: block;
  font-size: 12px;
  position: absolute;
  top: 21px;
  left: 14px;
  position: absolute;
  transition: color .1s linear;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 4px;
}

.valleForm__textarea__input:focus + .valleForm__textarea__label {
  color: var(--valle-input-color, rgba(5, 159, 183, .87));
}

.valleForm__textarea__description {
  color: rgba(0, 0, 0, .54);
  display: block;
  font-size: 12px;
  padding-top: 8px;
  margin-left: 16px;
}

.valleForm__textarea--disabled .valleForm__textarea__label {
  color: rgba(0, 0, 0, .38);
}

.valleForm__textarea--disabled .valleForm__textarea__input {
  background-color: initial;
  border: 2px solid rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .38);
  cursor: no-drop;
}

.valleForm__textarea--error .valleForm__textarea__description,
.valleForm__textarea--error .valleForm__textarea__label,
.valleForm__textarea--error .valleForm__textarea__input:focus + .valleForm__textarea__label {
  color: rgba(255, 0, 0, .87);
}

.valleForm__textarea--error .valleForm__textarea__input {
  border-color: rgb(255, 0, 0);
}

/* ------- Footer ------- */

.valleForm__sub {
  margin-top: 32px;
  margin-right: auto;
  font-size: 12px;
  color: var(--highlight-color, rgb(5, 159, 183));
}

.valleForm__speedDial {
  margin-top: 16px;
  margin-left: auto;
  font-size: 14px;
}

.valleForm__speedDial__actions {
  text-align: right;
}

.valleForm__speedDial__save {
  --valle-speed-dial-action-fab-color: #7bcc02;
  white-space: nowrap;
}

.valleForm__speedDial__edit {
  --valle-speed-dial-action-fab-color: #ff6a00;
  white-space: nowrap;
}

.valleForm__speedDial__delete {
  --valle-speed-dial-action-fab-color: #ff0043;
  white-space: nowrap;
}

.valleForm__speedDial__cancel {
  --valle-speed-dial-action-fab-color: #4c4c48;
  white-space: nowrap;
}

.valleForm__speedDial__new {
  --valle-speed-dial-action-fab-color: #7cc705;
  white-space: nowrap;
}

.valleForm__snackbar {
  --width: 568px;
  align-items: center;
  background: #323232;
  border-radius: 2px;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  display: none;
  font-size: 14px;
  height: 48px;
  left: calc(50% - calc(var(--width) / 2));
  max-width: var(--width);
  padding: 0 24px;
  position: fixed;
  transform: translateY(48px);
  width: 100%;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  .valleForm__snackbar {
    --width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .valleForm__snackbar {
    --width: 250px;
  }
}

.valleForm__snackbar--open {
  animation: show 5s;
  display: flex;
}

.valleForm__snackbar__icon {
  margin-right: 12px;
}

@keyframes show {
  0%  { transform: translateY(48px); }
  20% { transform: translateY(0); }
  80% { transform: translateY(0); }
  100% { transform: translateY(48px); display: none; }
}

.valleForm__switch {
  display: block;
}

.valleForm__switch__label {
  margin: 0 10px;
  font-size: 14px;
  font-family: sans-serif;
  color: var(--valle-label-switch-color, #666666);
}

.valleForm__switch__input {
  display: none;
}

.valleForm__switch--disabled .valleForm__switch__label {
  color: rgba(0, 0, 0, .38);
}

.valleForm__switch__toggle {
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  width: 36px;
  height: 12px;
  background-color: var(--valle-switch-background, #dddddd);
  border-radius: 30px;
  transition: background-color .4s;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.valleForm__switch--disabled .valleForm__switch__toggle {
  cursor: no-drop;
  --valle-switch-background: #eae9e9;
}

.valleForm__switch__toggle::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--valle-switch-toggle, #81898a);
  border-radius: 50%;
  transition: transform .4s, background-color .4s;
}

.valleForm__switch--disabled .valleForm__switch__toggle::after {
  --valle-switch-toggle: #d2d2d2;
}

.valleForm__switch__input:checked + .valleForm__switch__toggle {
  background-color: var(--valle-switch-background-checked, #cbefd8);
}

.valleForm__switch__input:checked + .valleForm__switch__toggle::after {
  transform: translateX(16px);
  background-color: var(--valle-switch-toggle-checked, #62aeb3);
}

.valleForm__empty-message {
  display: block;
  font-size: 14px;
  color: #999898;
  padding: 8px;
  margin: 16px 0;
  width: 100%;
}

/* ------- Markdown Editor ------- */

.valleForm__MarkdownEditor {
  width: 100%;
  height: 430px;
  box-sizing: border-box;
}

.valleForm__MarkdownEditor--big {
  height: 700px;
}

.valleForm__MarkdownEditor__headers {
  width: calc(100% - 10px);
  box-sizing: border-box;
  padding-top: 32px;
  display: flex;
  justify-content: flex-end;
  margin: 0 5px;
}

.valleForm__MarkdownEditor__slider {
  display: flex;
  margin-right: 8px;
}

.valleForm__MarkdownEditor__button {
  padding: 0px;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  border: 0;
  background-color: #787878;
  position: relative;
}

.valleForm__MarkdownEditor__button--toggle {
  width: 40px;
  border-radius: 3px;
}

.valleForm__MarkdownEditor__button--toggle:hover {
  background-color: #999898;
  cursor: pointer;
}

.valleForm__MarkdownEditor__button--toggle:focus {
  background-color: #999898;
  outline: none;
}

.valleForm__MarkdownEditor__button--toggle:active {
  background-color: #a5a5a5;
}

.valleForm__MarkdownEditor__button--toggle[disabled] {
  cursor: no-drop;
  background-color: #9c9c9c;
}

.valleForm__MarkdownEditor__button--slider {
 transition: background .2s;
}

.valleForm__MarkdownEditor__button--slider:first-child {
  border-radius: 3px 0 0 3px;
}

.valleForm__MarkdownEditor__button--slider:last-child {
  border-radius: 0 3px 3px 0;
}

.valleForm__MarkdownEditor__button--slider:hover {
  background-color: #999898;
  cursor: pointer;
}

.valleForm__MarkdownEditor__button--slider:focus {
  background-color: #999898;
  outline: none;
}

.valleForm__MarkdownEditor__button--slider:active {
  background-color: #a5a5a5;
}

.valleForm__MarkdownEditor__button--slider[disabled] {
  cursor: default;
  background: var(--highlight-color, #62aeb3);
}

.valleForm__MarkdownEditor__icon {
  fill: rgb(255, 255, 255);
  width: 14px;
  height: 14px;
}

.valleForm__MarkdownEditor__body {
  width: 100%;
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.valleForm__MarkdownEditor__editor {
  width: 50%;
  box-sizing: border-box;
}

.valleForm__MarkdownEditor__editor--full {
  width: 100%;
}

.valleForm__MarkdownEditor__editor textarea {
  height: 330px;
  resize: none;
}

.valleForm__MarkdownEditor--big .valleForm__MarkdownEditor__editor textarea {
  height: 600px;
}

.valleForm__MarkdownEditor__preview {
  width: 50%;
  box-sizing: border-box;
}

.valleForm__MarkdownEditor__preview--full {
  width: 100%;
}

.valleForm__MarkdownEditor__render {
  border-radius: 4px;
  width: calc(100% - 10px);
  height: 332px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #f0f0f0;
  padding: 8px;
  margin: 28px 5px 0 5px;
}

.valleForm__MarkdownEditor--big .valleForm__MarkdownEditor__render {
  height: 600px;
}

/* ------- Markdown render ------- */

/* --- Heading --- */

.markdown-render {
  font-family: "Roboto", sans-serif;
}

.markdown-render h1 {
  color: var(--highlight-color, #62aeb3);
  margin: 8px 0;
  font-size: 32px;
}

.markdown-render h2 {
  color: var(--highlight-color, #62aeb3);
  margin: 16px 0;
  font-size: 24px;
}

.markdown-render h3 {
  color: var(--highlight-color, #62aeb3);
  margin: 8px 0;
  font-size: 18px;
  font-weight: 400;
}

.markdown-render h4 {
  color: var(--highlight-color, #62aeb3);
  margin: 8px 0;
  font-size: 16px;
  font-weight: 400;
}

/* --- Paragraph --- */

.markdown-render p {
  color: #000;
  margin: 16px 0;
}

/* --- Link --- */

.markdown-render a {
  color: var(--highlight-color, #62aeb3);
}

/* --- Lists --- */

.markdown-render ul {
  margin: 8px 0;
  padding-left: 18px;
}

.markdown-render li {
  color: #000;
  list-style: none;
  position: relative;
}

.markdown-render ul li:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--highlight-color, #62aeb3);
  position: absolute;
  left: -14px;
  top: 8px;
  border-radius: 50%;
}

.markdown-render ol {
  list-style: none;
  counter-reset: li;
  margin: 8px 0;
  padding-left: 18px;
}

.markdown-render ol li {
  counter-increment: li
}

.markdown-render ol li:before {
  content: counter(li);
  color: var(--highlight-color, #62aeb3);
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

/* --- Table --- */

.markdown-render table {
  border-collapse: collapse;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.12);
}

.markdown-render thead {
  height: 48px;
  box-sizing: border-box;
}

.markdown-render th, td {
  border: 1px solid rgba(0,0,0,.12);
  text-align: left;
  padding: 8px;
  vertical-align: middle;
}

.markdown-render th {
  font-size: 16px;
  background: #e2e2e2;
  white-space: nowrap;
  box-sizing: border-box;
}

.markdown-render tbody {
  width: 100%;
}

.markdown-render tr {
  transition: background .1s;
}

.markdown-render td {
  color: #000;
  font-size: 14px;
}

/* TODO: Remove the code below in favor of new tooltip web component */

/* ------- Tooltip ------- */

.tooltip {
  overflow: visible;
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: help;
  top: 30px;
  right: 1px;
  border-radius: 3px;
  transition: background .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

[aria-label][data-balloon-pos].tooltip { /* Fix specificity with original lib */
  position: absolute;
}

.tooltip:focus {
  background: #ecebeb;
  outline: none;
}

.tooltip svg {
  fill: var(--icon-tooltip-color, rgba(0, 0, 0, .38));
  width: 18px;
  height: 18px;
}

.tooltip:hover svg {
  fill: var(--highlight-color, rgba(5, 159, 183, .87));
}

.visual-hidden {
  position: absolute;
  left: -10000px;
}

:root {
  --balloon-border-radius: 2px;
  --balloon-color: rgba(16, 16, 16, 0.95);
  --balloon-text-color: #fff;
  --balloon-font-size: 12px;
  --balloon-move: 4px;
}

[aria-label][data-balloon-pos]:after {
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  text-indent: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: var(--balloon-font-size);
  background: var(--balloon-color);
  border-radius: 2px;
  color: var(--balloon-text-color);
  border-radius: var(--balloon-border-radius);
  content: attr(aria-label);
  padding: .5em 1em;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
}

[aria-label][data-balloon-pos]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: var(--balloon-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  content: "";
  position: absolute;
  z-index: 10;
}

[aria-label][data-balloon-pos]:hover:before, [aria-label][data-balloon-pos]:hover:after, [aria-label][data-balloon-pos][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-visible]:after, [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before, [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
  opacity: 1;
  pointer-events: none;
}

[aria-label][data-balloon-pos].font-awesome:after {
  font-family: 'Roboto', sans-serif;
}

[aria-label][data-balloon-pos][data-balloon-break]:after {
  white-space: pre; 
}

[aria-label][data-balloon-pos][data-balloon-break][data-balloon-length]:after {
  white-space: pre-line;
  word-break: break-word;
}

[aria-label][data-balloon-pos][data-balloon-blunt]:before, [aria-label][data-balloon-pos][data-balloon-blunt]:after {
  transition: none;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:after, [aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:after {
  transform: translate(-50%, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:before {
  transform: translate(-50%, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos*="-left"]:after {
  left: 0;
}

[aria-label][data-balloon-pos][data-balloon-pos*="-left"]:before {
  left: 5px;
}

[aria-label][data-balloon-pos][data-balloon-pos*="-right"]:after {
  right: 0;
}

[aria-label][data-balloon-pos][data-balloon-pos*="-right"]:before {
  right: 5px;
}

[aria-label][data-balloon-pos][data-balloon-po*="-left"]:hover:after, [aria-label][data-balloon-pos][data-balloon-po*="-left"][data-balloon-visible]:after, [aria-label][data-balloon-pos][data-balloon-pos*="-right"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos*="-right"][data-balloon-visible]:after {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-po*="-left"]:hover:before, [aria-label][data-balloon-pos][data-balloon-po*="-left"][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-pos*="-right"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos*="-right"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos^="up"]:before, [aria-label][data-balloon-pos][data-balloon-pos^="up"]:after {
  bottom: 100%;
  transform-origin: top;
  transform: translate(0, var(--balloon-move));
}

[aria-label][data-balloon-pos][data-balloon-pos^="up"]:after {
  margin-bottom: 10px;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:before, [aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
  left: 50%;
  transform: translate(-50%, var(--balloon-move));
}

[aria-label][data-balloon-pos][data-balloon-pos^="down"]:before, [aria-label][data-balloon-pos][data-balloon-pos^="down"]:after {
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}

[aria-label][data-balloon-pos][data-balloon-pos^="down"]:after {
  margin-top: 10px;
}

[aria-label][data-balloon-pos][data-balloon-pos^="down"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: var(--balloon-color);
}

[aria-label][data-balloon-pos][data-balloon-pos="down"]:after, [aria-label][data-balloon-pos][data-balloon-pos="down"]:before {
  left: 50%;
  transform: translate(-50%, calc(var(--balloon-move) * -1));
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:after, [aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:after {
  transform: translate(0, -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:before {
  transform: translate(0, -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:after, [aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
  right: 100%;
  top: 50%;
  transform: translate(var(--balloon-move), -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:after {
  margin-right: 10px;
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: var(--balloon-color);
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:after, [aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
  left: 100%;
  top: 50%;
  transform: translate(calc(var(--balloon-move) * -1), -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:after {
  margin-left: 10px;
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: var(--balloon-color);
}

[aria-label][data-balloon-pos][data-balloon-length]:after {
  white-space: pre-line;
}

[aria-label][data-balloon-pos][data-balloon-length="small"]:after {
  width: 80px;
}

[aria-label][data-balloon-pos][data-balloon-length="medium"]:after {
  width: 150px;
}

[aria-label][data-balloon-pos][data-balloon-length="large"]:after {
  width: 260px;
}

[aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
  width: 380px;
}

@media screen and (max-width: 768px) {
  [aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
    width: 90vw;
  }
}

[aria-label][data-balloon-pos][data-balloon-length="fit"]:after {
  width: 100%;
}